* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

nav {
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

img {
  padding: 0.5rem;
  margin: 22px 30px;
}

